/* styling */
body {
  margin: 0;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #0b0c10;
  color: #C5C6C7;
  padding-bottom: 10px;
}

.hero_title {
  text-align: center;
  font-style: normal;
  top: 0;
  color: #C5C6C7;
  font-size: 21px;
  font-weight: 600;
  display: flex;
  line-height: 32px;
  align-items: flex-start;
}


.hero_sec_class {
  background-color: #1F2833;
  margin-top: 50px; 
  padding-left: 40px;
  padding-right: 40px;
  display: grid;
  padding: 20px 0;
  align-items: center;
  gap: 16px;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;

}



.hero_content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 50px;
  padding-left: 40px;
}

.hero_content_two {
  display: flex;
  gap: 32px;
  flex-direction: column;
  align-items: flex-start;
}

.hero_title_sec {
  align-self: stretch;
  color: #C5C6C7;
  font-weight: 700;
  line-height: 90px;
  font-size: 55px;
}

.hero_message {
  color: #66FCF1;
}

.hero_info {
  font-weight: 400;
  line-height: 36px;
  color: #C5C6C7;
  font-size: 24px;

}

.hero_image {
  border-radius: 10px;
  overflow: hidden; 
}

.hero_image > img {
  max-width: 100%;
  opacity: 0;
  padding-left: 100px;
  width: 65%;
  height: auto;
  animation: fadeIn 1.5s ease forwards;
}

.hero_buttons {
  padding-left: 275px;;
  display: flex;
  gap: 20px; 
  align-items: center;
  justify-content: flex-end; 
  margin-top: 20px;
}

.hero_buttons a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #C5C6C7;
  font-size: 14px;
}

.hero_buttons img {
  width: 50px; 
  height: 50px; 
  transition: transform 0.2s;
}

.hero_buttons a:hover img {
  transform: scale(1.1); 
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1; 
  }
}

.about_sec_info {
  padding-left: 40px;
}

.about_pic {
  align-self: flex-end;
}


.about_pic > img {
  width: 100%;
  height: 100%;
  border-radius: 10px; 
}

.about_par {
  color: #C5C6C7;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}

.about_hero h2 {
  font-size: 24px;
  font-weight: 600;
  color: #C5C6C7;
  margin-top: 20px;
  color: #66FCF1; 
}

.about_class {
  padding-left: 40px;
  display: grid;
  padding: 133.3px 85.3px;
  gap: 114.6px;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  padding-right: 40px;
}

.about_hero ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.about_hero li {
  font-size: 18px;
  color: #C5C6C7;
  margin: 10px 0;
  border: 2px solid #C5C6C7;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
 
}



.Navbar {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0b0c10;
  z-index: 999;
  transition: background-color 0.3s;
}

.Navbar.active {
  background: #1F2833;
}

.navbar_items {
  display: flex;
  justify-content: right;
  align-items: center;
}

.navbar_items ul {
  list-style: none;
  display: flex;
  justify-content: right;
  gap: 40px;
}

.navbar_items ul > li > a {
  text-decoration: none;
  color: #C5C6C7;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.active_nav {
  color: #66FCF1;
}

.logo_image_nav img {
  width: 40px;
  height: 40px;
}


.about_sec_info {
  padding-left: 0;
}

.about_pic > img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.about_par {
  color: #C5C6C7;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}

.about_hero h2 {
  font-size: 24px;
  font-weight: 600;
  color: #C5C6C7;
  margin-top: 20px;
  color: #66FCF1;
}

.about_class {
  padding-left: 30px;
  padding-right: 30px;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
}

.about_hero ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.about_hero li {
  font-size: 18px;
  color: #C5C6C7;
  margin: 10px 0;
  border: 2px solid #C5C6C7;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  background: #1F2833;
}



.projects_sec {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project_info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1200px;
  width: 100%;
  justify-content: center;
}

.project_box {
  padding-right: 30px;
  padding-left: 30px;
  background-color: #C5C6C7;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.project_box img {
  max-width: 100%;
  height: auto;
  margin: 20px 0;
  transition: transform 0.2s;
  border-radius: 10px;
}

.project_box img:hover {
  transform: scale(1.05);
}

.project_message {
  color: #313434;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 10px;
}

.project_box a {
  color: #66FCF1;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.project_box a.github-link::before {
  content: '';
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.project_box a img {
  width: 50px;
  height: 50px;
  margin-right: 8px;
}


.experience-section {
  padding: 80px 0;
  text-align: center;
}

.experience-title {
  color: #C5C6C7;
  font-size: 36px;
  font-weight: 600;
  line-height: 42px;
  margin-bottom: 40px;
}

.experience-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}



.experience-entry {
  width: calc(50% - 20px); 
  padding: 40px; 
  margin: 0 10px;
  text-align: center;
  position: relative;
  border: 1px solid #66FCF1;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.experience-entry:hover {
  transform: scale(1.05);
}

.experience-image img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.experience-position {
  line-height: 30px;
  margin-top: 20px;
  color: #66FCF1;
  font-size: 20px;
  font-weight: 600;
}

.experience-company {
  color: #C5C6C7;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 8px;
}

.experience-date {
  line-height: 22px;
  margin-top: 8px;
  color: #C5C6C7;
  font-size: 16px;
  font-weight: 400;
}

.experience-description {
  font-weight: 400;
  line-height: 24px;
  margin-top: 16px;
  color: #a3d4d1;
  font-size: 16px;
}

.Footer {


  left: 0;
  width: 100%;
  padding: 10px 10px;
  text-align: center;
  color: #C5C6C7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0b0c10; 
  z-index: 999;

}

.Footer img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  transition: transform 0.2s;
}

.Footer img:hover {
  transform: scale(1.1);
}

.footer-links {
  display: flex;
  gap: 20px;
}



@media (max-width: 1000px) {

  .hero_sec_class {
    margin-top: 80px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-direction: column;
    align-items: center;
    text-align: start;
    grid-template-columns: 1fr;
    padding: 30px;
    justify-content: center;
  }

  .hero_content {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    
  }

  .hero_info{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
    text-align: center;
    font-size: 24px;
  }

  .hero_image {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    padding: 0;
    margin: 0 auto;

    text-align: center;
  }

  .hero_content_two {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    text-align: center;
  }

  .hero_content {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    padding: 0; 
    text-align: center;
  }

  .hero_image {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    padding-left: 0;
    text-align: center;
  }

  .hero_buttons {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    padding-left: 0; 
  }

  .hero_title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    text-align: center; 
  }

  .hero_title_sec {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    text-align: center;
  }

  .hero_image > img {
    padding-left: 0;
    margin: 0 auto; 
    display: block; 
  }
}

@media (max-width: 768px) {
  .Navbar {
    justify-content: space-between;
    padding: 10px;
  }

  .navbar_items {
    justify-content: flex-end;
  }

  .navbar_items ul {
    gap: 20px;
  }

  .navbar_items ul > li > a {
    justify-content: center;
  }

  .active_nav {
    color: #66FCF1;
  }

  .logo_image_nav img {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 36px;
    line-height: 40px;
  }

  h2 {
    font-size: 28px;
    line-height: 32px;
  }

  h3 {
    font-size: 18px;
    line-height: 24px;
  }

  .hero_sec_class {
    grid-template-columns: 1fr;
    padding: 30px;
    justify-content: center;
  }

  .hero_title {
    position: relative;
    top: 10px;
    font-size: 18px;
    line-height: 24px;
  }

  .Navbar {
    padding: 10px;
  }

  .navbar_items ul {
    gap: 20px;
  }

  .about_class {
    padding: 30px;
    text-align: center;
    padding-left: 20px;
    padding-right:20px;
  }

  .about_hero ul {
    grid-template-columns: repeat(4, 1fr);
  }

  .about_hero li {
    font-size: 14px;
    padding: 8px;
    border-radius: 10px;
    margin: 8px 0;
  }

  .about_sec_info {
   
  }
}

@media (max-width: 780px) {
  .Navbar {
    justify-content: space between;
    padding: 15px 30px; 
  }
  .navbar_items {
    justify-content: flex-end;
  }
  .navbar_items ul {
    gap: 20px;
  }
  .navbar_items ul > li > a {
    justify-content: center;
  }
  .active_nav {
    color: #66FCF1;
  }
  .logo_image_nav img {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 780px) {
  .about_class {
    padding-left: 20px;
    padding-right: 20px;
       align-items: center;
       text-align: center;
  }
  .about_hero ul {
    grid-template-columns: repeat(4, 1fr);
  }
  .about_hero li {
    font-size: 14px;
    padding: 8px;
    border-radius: 10px;
    margin: 8px 0;
    text-align: center;
  }
}

@media (max-width: 780px) {
  .project_info {
    grid-template-columns: 1fr;
  
    align-items: center;
  }
}

@media (max-width: 768px) {
  .experience-details {
    flex-direction: column;
    align-items: center;
  }

}

@media (min-width: 769px) {
  .experience-entry {
    width: calc(33% - 20px); 
  }
} 

@media (max-width: 780px) {
  .experience-entry {
    width: calc(50% - 20px);
  }
}


@media (max-width: 780px) {
  .Footer {
    flex-direction: column;
    align-items: center;
  }
 
}

@media (max-width: 7800px) {
 .projects_sec{
  align-items: center;
 
 }

 .experience-section{
  align-items: center;
  padding-left: 10px;
  padding-right:10px;
 }

 .project_info{
  padding-left: 30px;
  padding-right:30px;
 }

}

@media (max-width: 768px) {
  .about_class {
    padding: 30px; 
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
  }



  .about_hero li {
    font-size: 14px;
    padding: 8px;
    border-radius: 10px;
    margin: 8px 0;
    text-align: center; 
  }

  .about_sec_info {
    padding-left: 0; 
    text-align: center; 
  }

}

  @media (max-width: 768px) {
  
    .hero_sec_class,
    .hero_title,
    .hero_title_sec,
    .hero_content,
    .hero_content_two,
    .hero_info,
    .about_sec_info,
    .about_par,
    .about_hero h2,
    .project_message,
    .experience-title,
    .experience-position,
    .experience-company,
    .experience-date,
    .experience-description,
    .Footer,
    .footer-links {
      text-align: center;
    }
  
    
    .hero_sec_class,
    .hero_info,
    .about_sec_info,
    .about_par,
  
  
    .Footer,
    .footer-links {
      text-align: left;
    }
  
 
    .hero_title,
    .hero_title_sec,
    .hero_content,
    .hero_content_two {
      text-align: center;
    }
  
 
    .hero_info,
    .about_sec_info,
    .about_par,
    .about_hero h2 {
      text-align: left;
    }

  }
  
  .show-more-button {
    text-align: center;
    margin: 20px 0;
  }
  
  .show-more-button a {
    text-decoration: none;
    background-color: #66FCF1;
    color: #0b0c10;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 18px;
    transition: background-color 0.2s;
  }
  
  .show-more-button a:hover {
    background-color: #1F2833;
  }
  
  /* Media Queries */
  @media (max-width: 768px) {
    .show-more-button {
      text-align: center;
      margin: 20px 0;
    }
    
    .show-more-button a {
      font-size: 16px;
      padding: 8px 16px;
    }
  }
  
  @media (max-width: 480px) {
    .show-more-button a {
      font-size: 14px;
      padding: 6px 12px;
    }
  }


